
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure Reports
allure-results/

# Environment Variables
.env

# Miscellaneous
.vscode/
.prettierrc

# HAR Files
hars/